<a href="https://colab.research.google.com/github/scaleracademy/dsml-intermediate-aug-22/blob/main/Functional_Programming_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class will start at 9:05PM
Please curate your doubts in the questions tab.

In [3]:
students = [
    {"name": "A", "marks": 70},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 90},
    {"name": "D", "marks": 80},
]
sorted(students, key = lambda x: x["marks"])

[{'name': 'A', 'marks': 70},
 {'name': 'D', 'marks': 80},
 {'name': 'C', 'marks': 90},
 {'name': 'B', 'marks': 100}]

In [1]:
def merge(arr, start, middle, end, key):
  result = []
  i = start
  j = middle

  while i < middle and j < end:
    if key(arr[i]) < key(arr[j]):
      result.append(arr[i])
      i += 1
    else:
      result.append(arr[j])
      j += 1
    
  result += arr[i:middle]
  result += arr[j:end]

  for i in range(len(result)):
    arr[start + i] = result[i]

def merge_sort(arr, key = lambda x: x):
  width = 1
  n = len(arr)
  while width < n:
    start = 0
    while start < n:
      end = min(start + width*2, n)
      middle = min(start + width, n)

      merge(arr, start, middle, end, key)

      start += width*2
    width *= 2
  return arr

In [5]:
merge_sort(students, key = lambda x: x["marks"])

[{'name': 'A', 'marks': 70},
 {'name': 'D', 'marks': 80},
 {'name': 'C', 'marks': 90},
 {'name': 'B', 'marks': 100}]

In [9]:
def prettify(func):
  def wrapper(*args, **kwargs):
    print("Function execution started")
    res = func(*args, **kwargs)
    print("Function execution ended")
    return res
  
  return wrapper

@prettify
def square(x):
  return x**2

a = square(5)
print(a)

Function execution started
Function execution ended
25

In [7]:
square

In [10]:
arr = [1, 2, 3, 4, 5, 6, 7]

In [11]:
[x**2 for x in arr]

[1, 4, 9, 16, 25, 36, 49]

### Map

In [15]:
list(map(lambda x: x**2, arr))

[1, 4, 9, 16, 25, 36, 49]

### Filter

In [16]:
arr = [1, 2, 3, 4, 5, 6, 7]

In [17]:
list(filter(lambda x: x % 2, arr))

[1, 3, 5, 7]

In [18]:
# Given an array, return squares of all the even numbers

In [19]:
list(map(lambda x: x**2, filter(lambda x: x%2==0, arr)))

[4, 16, 36]

### Reduce

In [20]:
arr = [5, 1, 4, 2, 3, 6]

In [22]:
from functools import reduce
reduce(lambda acc, curr: acc + curr, arr)

21

In [26]:
students = [
    {"name": "A", "marks": 70},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 90},
    {"name": "D", "marks": 80},
]
reduce(lambda acc, curr: acc + curr["marks"], students, 0)

340

In [ ]:
arr = [1, 2, 3, 4, 5]
res = arr[0]
for x in arr[1:]:
  res += x
print(res)

### Zip

In [31]:
names = ["A", "B", "C", "D"]
marks = [10, 20, 30, 40]
subject = ["X", "Y", "X", "Y"]
list(zip(names, marks, subject))

[('A', 10, 'X'), ('B', 20, 'Y'), ('C', 30, 'X'), ('D', 40, 'Y')]

In [32]:
names = ["A", "B", "C", "D", "E", "F"]
marks = [10, 20, 30, 40]

# zip iterates up until the SMALLEST iterable
list(zip(names, marks))

[('A', 10), ('B', 20), ('C', 30), ('D', 40)]

In [33]:
names = ["A", "B", "C", "D", "E", "F"]
marks = [10, 20, 30, 40]

# return [{name: "A", marks: 10}]

In [39]:
list(map(lambda x: {"name": x[0], "marks": x[1]}, zip(names, marks)))

[{'name': 'A', 'marks': 10},
 {'name': 'B', 'marks': 20},
 {'name': 'C', 'marks': 30},
 {'name': 'D', 'marks': 40}]

In [40]:
arr = [2, 2, 2, 2]
arr2 = [x**2 for x in arr]

In [42]:
list(map(lambda x: x**2, arr))

[4, 4, 4, 4]

In [43]:
# Space Complexity -> O(n)
a = [x**2 for x in range(20)]

In [44]:
# Space Complexity -> O(1)
def square_gen():
  for x in range(20):
    yield x**2

In [45]:
a = square_gen()