<a href="https://colab.research.google.com/github/scaleracademy/dsml-intermediate-aug-22/blob/main/OOPS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = {
    "name": "Scaler",
    "language": "python"
}
for x in a.values():
  print(x)

Scaler
python

In [2]:
list(map(lambda x: a[x], a))

['Scaler', 'python']

In [3]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
list(filter(lambda x: x%2==0, map(lambda x: x**2, a)))

[4, 16, 36, 64]

In [4]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [5]:
print("Hello World")

Hello World

In [6]:
print?

In [7]:
class Student:
  def __init__(self, name, subject):
    self.name = name
    self.subject = subject

s = Student("Jatin", "CSE")

In [ ]:
# This exact dictionary is an encapsulation of a student
s = {
    "name": "Jatin",
    "subject": "CSE"
}

In [8]:
class Student:
  pass

In [9]:
s = Student()

In [10]:
print(s)

<__main__.Student object at 0x7f05ac3bc090>

In [11]:
s = Student()
print(type(s))

<class '__main__.Student'>

In [12]:
print(Student)

<class '__main__.Student'>

In [13]:
print(type(Student))

<class 'type'>

In [ ]:
Everything in python is an __________
Python is a _______ typed language
Variables are initialized in the _______
Functions are also an ______ in python

In [14]:
def foo():
  return "Bar"

In [15]:
class XYZ:
  pass

In [16]:
a = XYZ
print(a())

<__main__.XYZ object at 0x7f05acedc350>

In [17]:
isinstance(foo, object)

True

In [18]:
isinstance(XYZ, object)

True

In [22]:
class Dog:
  breed = "shitzu"

In [23]:
d1 = Dog()
d1.breed = "Beagle"
print(d1.breed)

Beagle

In [24]:
d2 = Dog()
print(d2.breed)

shitzu

In [27]:
class Dog:
  breed = "shitzu"
  tricks = []

In [28]:
d1 = Dog()
d1.breed = "beagle"
d1.tricks.append("noisy")
print(d1.tricks)

['noisy']

In [30]:
d2 = Dog()
print(d2.breed)
print(d2.tricks)

shitzu
['noisy']

In [37]:
class Dog:
  breed = "shitzu"
  tricks = ()

In [38]:
d1 = Dog()
d1.breed = "beagle"
d1.tricks = ("noisy",)
print(d1.tricks)

('noisy',)

In [39]:
d2 = Dog()
print(d2.breed)
print(d2.tricks)

shitzu
()

### Methods
Functions that execute in the context of an object

In [54]:
def say_hi(self):
  print(id(self))
  print("Hello")

In [55]:
say_hi()

TypeError: ignored

In [47]:
class Person:
  name = "undefined"

  def say_hi(self):
    print(id(self))
    print("Hello")

In [ ]:
Person.say_hi()

In [49]:
p1 = Person()

In [50]:
p1.name

'undefined'

In [53]:
Person.say_hi(p1)

139662207727248
Hello

In [51]:
p1.say_hi()

139662207727248
Hello

In [52]:
id(p1)

139662207727248

### Dunders (Magic Methods)

In [59]:
class Student:
  def __init__(self):
    print("init method")

In [60]:
Student()

<__main__.Student object at 0x7f05a4479490>
init method

In [64]:
class Student:
  def __init__(self, name, subject):
    self.name = name
    self.subject = subject

In [65]:
s1 = Student("Jatin", "CSE")

In [66]:
s1.name

'Jatin'

In [67]:
Student.name

AttributeError: ignored

#### Abstraction: Extration of relevant information or interacting with the interface only

#### Encapsulation: Grouping together of common attributes to make up an entity

You are given 3 lists: name, jobrole and salary containing various employee information. name = [“Alex”, “Adam”,”Michael”,”Sergei”] job_role = [“Data Analyst”,”Data Scientist”,”HR”,”Manager”] salary = [50000,60000,55000,70000] Complete the python function to return the maximum salary along with the information in a nested dictionary format:
maximum salary = 70000
info = {“Alex”:{role:”Data Analyst”,salary:50000},“Adam”:{role:”Data Scientist”,salary:60000}, “Michael”:{role:”HR”,salary:55000}, “Sergei”:role:”Manager”,salary:70000}}

In [68]:
name = ["Alex", "Adam","Michael","Sergei"] 
job_role = ["Data Analyst","Data Scientist","HR","Manager"] 
salary = [50000,60000,55000,70000]

print(max(salary))

70000

In [72]:
def solve(name, job_role, salary):
  info = {}
  for n, j, s in zip(name, job_role, salary):
    info[n] = {"role": j, "salary": s}

  return max(salary), info

In [73]:
solve(name, job_role, salary)

(70000,
 {'Alex': {'role': 'Data Analyst', 'salary': 50000},
  'Adam': {'role': 'Data Scientist', 'salary': 60000},
  'Michael': {'role': 'HR', 'salary': 55000},
  'Sergei': {'role': 'Manager', 'salary': 70000}})