<a href="https://colab.research.google.com/github/scaleracademy/dsml-intermediate-aug-22/blob/main/Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# return 4 largest elements (k = 4)
arr = [4, 1, 2, 3, 6, 9, 7, 8]
# return 9, 8, 7, 6

In [1]:
arr = [4, 1, 2, 3, 6, 9, 7, 8]

In [20]:
arr = [1, 2, 3, 4, 5]
def bubble_sort(arr):
  n = len(arr)
  for i in range(n-1):
    print(arr, '->', end = ' ')
    swapped = False

    count = 0
    for j in range(n-i-1):
      count += 1
      if arr[j] > arr[j+1]:
        arr[j], arr[j+1] = arr[j+1], arr[j]
        swapped = True
    
    if not swapped:
      return arr
    print(f'({count})', end = ' ')
    print(arr)

  return arr

In [21]:
bubble_sort(arr)

[1, 2, 3, 4, 5] ->

[1, 2, 3, 4, 5]

In [10]:
def add(a, b):
  return a+b

In [11]:
sorted([4, 1, 3, 2, 5, 6])

[1, 2, 3, 4, 5, 6]

In [18]:
def insertion_sort(arr):
  n = len(arr)
  for i in range(1, n):
    print(arr, '->', end = ' ')
    el = arr[i]
    # arr[i] = None

    j = i-1
    count = 1
    while j >= 0 and arr[j] > el:
      count += 1
      arr[j+1] = arr[j]
      j-=1

    arr[j+1] = el

    print(f'({count})', end = ' ')
    print(arr)

  return arr

In [34]:
arr = [1, 3, 2, 4, 5, 6, 7]

insertion_sort(arr)

[1, 3, 2, 4, 5, 6, 7] -> (1) [1, 3, 2, 4, 5, 6, 7]
[1, 3, 2, 4, 5, 6, 7] -> (2) [1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7] -> (1) [1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7] -> (1) [1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7] -> (1) [1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7] -> (1) [1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [33]:
arr = [1, 3, 2, 4, 5, 6, 7]

bubble_sort(arr)

[1, 3, 2, 4, 5, 6, 7] -> (6) [1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7] ->

[1, 2, 3, 4, 5, 6, 7]

In [37]:
a = ['Blah','Blah','Blah']
b = a[:]

print(id(a) == id(b))
print(a is b)

False
False

In [45]:
a = [print(i) for i in range(10) if i%2==0]

0
2
4
6
8

In [46]:
print(a)

[None, None, None, None, None]

In [41]:
def foo():
  pass

In [42]:
a = foo()

In [43]:
print(a)

None